*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}

footer{
  text-align: center;
  padding: 1rem 0;
  background-color: var(--black);
  color: var(--white);
  font-size: 0.9rem;
  font-family:"Ubuntu", sans-serif;
}

:root{
  --black: #000;
  --white: #fff;
  --gray: #333;
  --red: #cc2e2e;
}

.error{
  padding: 200px ;
  font-size: 23px;
  font-weight: 200;
}