main{
 padding: 20px;
 display: flex;
 flex-direction: column ;
 gap: 25px;
}

.popular,
.recently-viewed ,
.movie-search ,
.tv-search {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.recently-viewed{
  display: none;
}
.popular h2 ,
.recently-viewed h2,
.movie-search h2 ,
.tv-search h2 {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--white);
  width: fit-content;
}
.popular h2::before 
,.recently-viewed h2::before
,.movie-search h2::before
,.tv-search h2::before{
  position: absolute;
  backdrop-filter: blur(5px);
  bottom: -16px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--gray);
  margin-bottom: 10px;
  z-index: 1;
  border-radius: 1px;
  animation: slidIn 0.5s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@keyframes slidIn{
  from{
    width: 0%;
  }
  to{
    width: 100%;
  }
}

.movie-popular-grid,
.tv-popular-grid,
.recently-viewed-grid,
.movie-search-grid,
.tv-search-grid{
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: none;
  padding: 16px;
}
.scroll-right{
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  position: absolute;
  height: 60px;
  right: 10px;
  top:50%;
  transform: translateY(-50%);
  z-index: 10;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  &:hover{
    background-color: rgba(255, 255, 255, 0.1);
  }
}
.scroll-right img{
  width: 60px;
  height: 60px;
  filter: invert(1);
  opacity: 0.7;
}
.scroll-left{
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  position: absolute;
  height: 60px;
  left: 18px;
  top:50%;
  transform: translateY(-50%);
  z-index: 10;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  &:hover{
    background-color: rgba(255, 255, 255, 0.1);
  }
}
.scroll-left img{
  width: 60px;
  height: 60px;
  filter: invert(1);
  opacity: 0.7;
}

.clear-all{
  background-color: transparent;
  color: var(--white);
  border: none;
  cursor: pointer;
  position: absolute;
  padding: 5px 8px;
  right:14px;
  top:0px;
  font-size: 16px;
  text-align: center;
  border-radius: calc(28px /2);
  z-index: 10;
  transition: all 0.3s ease-in-out;
  &:hover{
    background-color: rgba(255, 255, 255 , 0.1);
  }
}

.popular-item img,
.search-item img,
.library-item img{
  width: 100%;
 height: 300px ;
  border-radius: 10px;
  object-fit: cover;
  display: block;
}
.popular-item,
.search-item,
.library-item{
  min-width: 200px;
  max-width: 300px;
  flex:1;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  &:hover{
    transform: scale(1.05);
  }
}
.popular-item h3,
.search-item h3,
.library-item h3{
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: white;
  padding: 8px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.recently-viewed-grid .popular-item,
.movie-search-grid .search-item,
.tv-search-grid .search-item{
  min-width: none;
  max-width: 200px;
}
