main{
 padding: 20px;
 display: flex;
 flex-direction: column ;
  gap: 25px;
}

.popular{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.popular h2{
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--white);
}

.movie-popular-grid,.tv-popular-grid{
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: none;
  padding: 16px;
}
.scroll-right{
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  position: absolute;
  height: 60px;
  right: 10px;
  top:50%;
  transform: translateY(-50%);
  z-index: 10;
  border-radius: 20px;
  &:hover{
    background-color: rgba(255, 255, 255, 0.1);
  }
}
.scroll-right img{
  width: 60px;
  height: 60px;
  filter: invert(1);
  opacity: 0.7;
}
.scroll-left{
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  position: absolute;
  height: 60px;
  left: 18px;
  top:50%;
  transform: translateY(-50%);
  z-index: 10;
  border-radius: 20px;
  &:hover{
    background-color: rgba(255, 255, 255, 0.1);
  }
}
.scroll-left img{
  width: 60px;
  height: 60px;
  filter: invert(1);
  opacity: 0.7;
}

.popular-item img{
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  display: block;
}
.popular-item{
  min-width: 150px;
  max-width: 200px;
  flex:1;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  &:hover{
    transform: scale(1.05);
  }
}
.popular-item h3{
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: white;
  padding: 8px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
